*{
    font-family: 'Sarabun', sans-serif;
    padding: 0;
    /* border:1px dotted lightsalmon; */
}
h1{
    font-size:48px;
}
h1,label{
    text-align: center;
}
.head{
    font-weight: bold;
}
main{
    width:45%;
    margin: 5px auto
}
form{
    border: 1px solid black;
    border-radius: 10px;
    padding:5px;
}

input,label,button{
    display:block;
    margin:5px auto;
}

.box > p{
    margin: 5px auto;
    text-align: center;
}

a:link,a:visited{
    color:blue;
}

a:hover{
    color:red;
}