
h1{
    text-align: center;
    text-decoration: underline;
}

table{
    width:100%;
    margin:5px;
}
table,td,tr,th{
    border:1px solid black;
    border-collapse: collapse;
}

td,tr,th{
    height:30px;
    padding: 5px;
}

th{
    background:rgb(195, 195, 195);
}

tr:nth-child(even){
    background-color: rgb(230, 230, 230);
}

tr:hover{
    background:rgb(226, 252, 255);
}

a,a:visited{
    color:blue;
    text-decoration: none;
}

header{
    display: flex;
}